
                                           [MOD AUTHOR/VERSION]
###############################################################
MOD_VERSION=
###############################################################

*This string will be added to build.prop for identify the 
version or author of the mod and will be visible in 
Settings - >About. Please avoid to use the character "=" into 
the string. 






           -----------------------------------------
      [[[[[         ADVANCED  CONFIGURATION         ]]]]]
           -----------------------------------------



                           [CYANOGENMOD AND STOCK ROMS SUPPORT]
###############################################################
MULTIPLATTFORM=no
###############################################################
(yes,no) 

*It gives to the "modders" the posibility to add and indentify 
the resources for "stocks" and "cyanogenmods" bases by only 
adding the "CMOD#" prefix to the cyanogenmod files. Note that 
we'll need to add it ONLY when we need to specify differents 
versions of the same file and if the file is compatible with 
both of them, we don't have to add anything. If the process 
detects two versions of the same file it will determine which 
one is the correct plattform parsing the "/system/build.prop"
looking for the "ro.build.host=cyanogenmod". Remember that it 
would have an impact on the application time depending on the 
amount of files included. 

If you don't need this feature, you must keep it disabled.


e.g
  >In the morph proccess, you can add in the same folder:
  /MORPH/Phone.apk/CMOD#resources.arsc      (only for cyanorom)
  /MORPH/Phone.apk/resources.arsc              (only for stock)
  /MORPH/Phone.apk/CMOD#classes.dex         (only for cyanorom)
  /MORPH/Phone.apk/classes.dex                 (only for stock)
  /MORPH/Phone.apk/res/drawable/blablabla.xml        (for both)
  /MORPH/Phone.apk/res/drawable/blublublu.png        (for both)
  etc..

  >And the same for the XTRA files:
  /XTRAS/system/etc/CMOD#blablabla.xml      (only for cyanorom)
  /XTRAS/system/etc/blablabla.xml              (only for stock)
  /XTRAS/data/app/CMOD#blablabla.apk        (only for cyanorom)
  /XTRAS/data/app/blablabla.apk                (only for stock)
  /XTRAS/data/blublublu.xml                          (for both)
  etc.. 




                                                  [CLEAN MORPH]
###############################################################
CLEAN_MORPHING=no
###############################################################
(yes,no) 

*Ignore to add new files into apks while morphing, ergo only 
overwrite/upgrade existing files. You should keep it enabled 
ONLY if you want or need a clean process, e.g ignore to add 
classes.dex if we're in a odexed rom, etc... 

Under normal conditions isn't useful keep it enabled, therefore 
it's disabled by default.




                                                      [-V4 FIX]
###############################################################
V4_MORPHING=yes
###############################################################
(yes,no)

*Add compatibility while morphing for the -v4 folder suffixes 
inside some modded apks de/compiled with an apktool < v.1.4.1. 
Note that if -v4 is detected it will adapt your morph to the 
new structure, and obviously it doesn't work with others -vXX
suffixes founded for example inside some gapps or market apps.    
("yes" recommended)



                                                       [BACKUP]
###############################################################
DO_BACKUP=yes
###############################################################
(yes,no)

*Build a flashable backup for revert ALL modifications. 
("yes" very recommended)



                                                     [LOG FILE]
###############################################################
LOG_ENABLED=yes
###############################################################
(yes,no)

*Create a log file of whole process in the sdcard.
("yes" recommended)



                                                [ON SCREEN LOG]
###############################################################
SCREEN_LOG=yes
###############################################################
(yes,no)

*print on screen a detailed log about the process. 
("yes" recommended)



                                                [SDCARD FOLDER]
###############################################################
default_internal_sdcard=/emmc
###############################################################

###############################################################
default_external_sdcard=/sdcard
###############################################################

*It's not necessary to modify this parameters unless you really
need another folder path for your sdcards in the recovery. You
should try first before changing anything!! and remember don't
modify the generic "sdcard" folder name in XTRAS, you must let
to the process rename it in function of this config.




                                                [MOUNT COMMAND]
###############################################################
mount_system->mount /system
###############################################################

###############################################################
mount_data->mount /data
###############################################################

###############################################################
mount_Utmp->mount -t tmpfs -o mode=755,size=100% tmpfs /Utmp
###############################################################

*If you have troubles or fatal errors mounting the partitions,
you need to set a custom command here. Be carefull.
